<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Welcome to Fun Park story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    
    <h1>Fill in MadLibs with words!</h1>
    <form action="/FunPark" method="post">

     <label for="adjective">adjective</label>
     <input id="adjective" name="adjective" type="text">

     <label for="pluralnoun">plural noun</label>
     <input id="pluralnoun" name="pluralnoun" type="text">

     <label for="noun">noun</label>
     <input id="noun" name="noun" type="text">

     <label for="adverb">adverb</label>
     <input id="adverb" name="adverb" type="text">

     <label for="number">number</label>
     <input id="number" name="number" type="text">

     <label for="pasttenseverb">past tense verb</label>
     <input id="pasttenseverb" name="pasttenseverb" type="text">

     <label for="estadjective">est adjective</label>
     <input id="estadjective" name="estadjective" type="text">

     
    <button type="submit">Go!</button>
    </form>
  </body>
</html>
