<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create Fun Park Adventure</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h2>Choose your Adventure</h2>
    
    <button><a href="/FunParkStory">FunPark</button>  <button><a href="/ArcadeStory">Arcade</button>
       
  </body>
</html>
